@charset "ISO-8859-1";
body
{
	background-color: #e3d3cc;
}
p#head
{
	text-align: center;
	font-family: cursive;
	font-size: xxx-large;
}
.rectangle#tb
{
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 8%;
	background-color: #4b4949;
	position: absolute;	
	width: 93%;
	height: auto;
	max-height: 500px;
	overflow-y: scroll;
}
.divTable#pd
{
    	margin: 2%;
        display:  table;
        width: 95%;
        background-color:#eee;
        border:1px solid #666666;
        border-spacing:5px;
        vertical-align: middle;
        font-family: cursive;
}
	
	.headRow
    {
       display:table-row;
       text-align: center;
    }
    
    .divRow
    {
       display:table-row;
       width:auto;
    }

    .divCell
    {
        display:table-cell;
        background-color:#ccc;
        border: 5px;
        height: 25px;
        padding: 0px 3px;
    }
.rectangle#sbox
{
	position: absolute;
	margin-left: 3%;
	margin-right: auto;
	background-color: #4b4949;
}
.sb
{
	margin: 10px 10px 10px 10px;
}
input#search
{	
	position: relative;
    margin-right: 5px;
    width: 250px;
    height: 40px;
    background-color: #eee;
    font-size: larger;
    padding-left: 10px;
    font-family: cursive;
}
button#ffs
{
	background-color: #ccc;
	border: 1px solid black;
	float: right;
	width: 30px;
	height: 45px;
	font-size: larger;
}

.rectangle#dbox
{
	position: absolute;
	margin-left: 54%;
	margin-right: 27%;
	background-color: #4b4949;
}
.button#upd
{
	background-color: #ccc;
	border: 1px solid black;
	font-size: medium;
	font-family: cursive;
}
.rectangle#lbox
{
	position: fixed;
	margin-left: 76%;
	margin-right: 3%;
	background-color: #4b4949;
}
button#sub
{
	background-color: #ccc;
	border: 1px solid black;
	width: 300px;
	height: 45px;
	font-size: x-large;
	font-family: cursive;
}
.rectangle#home
{
	position: absolute;
	margin-left: 3%;
	margin-right: auto;
	background-color: #4b4949;
}
button#ffh
{
	background-color: #ccc;
	border: 1px solid black;
	width: auto;
	height: 45px;
	font-size: xx-large;
}

