@charset "ISO-8859-1";
body
{
	background-color: #e3d3cc;
}
p#head
{
	text-align: center;
	font-family: cursive;
	font-size: xxx-large;
}
.rectangle#tb
{
	margin-left: 150px;
	background-color: #4b4949;
	position: absolute;	
	width: auto;
	height:600x;
}
.divTable#pd
{
    	margin: 30px;
        display:  table;
        width:500px;
        height: 700px;
        background-color:#eee;
        border:1px solid #666666;
        border-spacing:5px;
        font-family: cursive;
        font-size: x-large; 
}
	.divRow
    {
       display:table-row;
       width:auto;
    }

    .divCell
    {
        display:table-cell;
        background-color:#ccc;
        border: 5px;
        height: 25px;
        padding: 10px 10Px; 
    }
.rectangle#sbox
{
	position: fixed;
	margin-left: 1250px;
	margin-top: 10px;
	margin-right: 50px;
	background-color: #4b4949;
}
.rectangle#dbox
{
	position: fixed;
	margin-left: 1250px;
	margin-top: 130px;
	margin-right: 50px;
	background-color: #4b4949;
}
.rectangle#ubox
{
	position: fixed;
	margin-left: 1250px;
	margin-top: 250px;
	margin-right: 50px;
	background-color: #4b4949;
}
button#sub
{
	background-color: #ccc;
	border: 1px solid black;
	width: 300px;
	height: 45px;
	font-size: x-large;
	font-family: cursive;
}
.sb
{
	margin: 10px 10px 10px 10px;
}
